<% @services.each do |service| %>
  <div style="width: 20rem;" class="preview_service">
    <%= image_tag(service.image, :alt => "logo", class: "card-img-top image-style") %>
    <div class="card-body">
      <h5 class="card-title"><%= service.name %></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
        <%= link_to 'Переглянути', service_path(service), class: 'btn block-button'%>
        <%= submit_tag 'Надіслати заявку', method: :post, class: 'btn btn-primary block-button' %>
    </div>
  </div>
<% end %>
