<div class="admin_form">
  <%= form_for :brand, url: admin_brands_path do |form| %>

    <p>Додати марку автомобіля</p>
    <p>Марка
      <%= form.text_field :brand %></p>
    <p><%= form.submit 'Додати марку авто'%></p>
  <% end %>
</div>
