<div id="car_nav_bar">
  <ul>
    <% if can? :create, Category %>
    <li><%= link_to "Додати нову категорію",  new_admin_category_path %></li>
    <% end %>
  </ul>
</div>

<table>
  <tr>
    <th onclick="sort_category_table(0)">Category name</th>
    <th>Edit  / Delete</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.category_name %></td>

      <td>
        <% if can? :update, Category %>
          <%= link_to "Edit", edit_admin_category_path(category) %>
        <% end %>
          |
        <% if can? :destroy, Category %>
          <%= link_to "Delete",admin_category_path(category), method: :delete, data: {confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
