<div id="car_nav_bar">
  <ul>
    <li><%= link_to "Додати марку автомобіля",  new_brand_path %></li>
    <li><%= link_to "Додати модель автомобіля",  new_car_path %></li>
  </ul>
</div>

<table id="car_table">
      <tr>
        <th onclick="sort_car_table(0)">Brand</th>
        <th onclick="sort_car_table(1)">Model</th>
        <th>Edit  / Delete</th>
      </tr>

  <% @cars.each do |brand, cars| %>
    <tr>
      <td><%= brand %></td>

      <% models = Array.new %>

      <% cars.each do |key| %>
        <label onclick="select_model()">
          <% models.push(key["model"])%>
        </label>

        <%  #models.push('<div onclick="select_model()">' + key["model"] + '</div>')  %>

      <% end %>

    <td><%= models.join(", ") %></td>


  <% end %>
  </tr>
</table>
