<div class="admin_form">
  <%= form_for :car_form, url: car_path(@edit_car), method: :put  do |form| %>
    <p>Інформація про авто</p>
    <p>Модель
      <%= form.text_field :model %></p>
    <p><%= form.submit 'Редагувати модель авто' %></p>
  <% end %>
</div>
