<div class="admin_form">
  <%= form_for :car_form, url: cars_path do |form| %>

    <p>Інформація про авто</p>
    <p>Марка
      <%= form.select("brand", Brand.all.collect{|p| [ p.brand, p.id] }, { include_blank: true }) %>
    </p>
    <p>Модель
      <%= form.text_field :model %></p>
    <p><%= form.button %></p>
  <% end %>
</div>
